*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth !important;
}
.banner{
    background: url("../images/b2.jpg");
    background-size: cover;
    height: 770px;
}

.banner-inner{
    padding: 10px;
}
.banner-inner .logo{
    font-size: 36px;
    float: left;
    font-weight: 600;
    margin-left: 55px;
    margin-top: 14px;
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
.menu li{
    font-size: 16px;
    padding-right: 35px;
    margin-top: 25px;
}
.banner-inner a {
    text-decoration: none;
    color: #fff; 
}
.menu li a:hover{
    color: #92ac5c;
}
.menu li.active a{
    color: #92ac5c;
}
.content{
    text-align: center;
    color: #fff;
    padding: 230px 0;
    
}
.content h4{
    font-size: 35px;
    font-weight: 100;
    font-family: 'Playful Display',serif;
    letter-spacing: 1px;
}
.content h3{
    font-size: 50px;
    font-weight: 900;
    font-family: 'Playful Display',serif;
    letter-spacing: 1px;
    margin: 12px 0;
    
}
.content p{
    color:#dadada ;
    font-size: 15px;
    padding: 0 18em;
    margin-top: 20px;
    text-shadow: 2px 2px 6px black;
    line-height: 27px;
}
.button{
    text-align: center;
    margin-top: -180px;
    
}
.button .about-us, .join-us{
    padding: 8px 20px 8px 20px;
    border-radius: 25px;
    border: 2px solid #fff;
    font-size: 17px;
    letter-spacing: 1px;
}
.button .about-us a{
    color: #a3c962;
}
.button .join-us{
    background-color: #a3c962;
    color: #fff;
    margin-left: 20px;
}
.about-us:hover, .join-us:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: all 1s;
}
.button a:hover{
    color: #fff;
}
@media screen and (max-width:1000px) {
    .banner{
        width: 100%;
        height: auto;
    }
    .banner-inner{
        margin-top: -30px;
    }
    .banner-inner .content p{
        padding: 0;
    }
    .menu li{
        display: none;
        
    }
    .content h4{
        font-size: 20px;
    }
    .content h3{
        font-size: 30px;
    }
    .content p{
        font-size: 14px;
        padding: 0;
    }
    .button button{
        margin-top: -30px;
    }
}
.about-container{
    padding: 80px 0;
}
.about-container .heading{
    text-align: center;
    
}
.heading h5{
    color: #a3c962;
    font-size: 21px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 1px;
    font-family: 'Playful Display', serif;
}
.heading h2{
    text-transform: uppercase;
    font-size: 26px;
    font-family: 'Playful Display', serif;
    line-height: 40px;
    margin-top: -10px;
}
.heading p{
    font-size: 15px;
    padding: 2em 36em;
    letter-spacing: 1px;
    color: #575654;
    line-height: 28px;
}
@media screen and (max-width:1500px)  {
    .heading p{
        padding: 0;
    }
}
.box1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
@media screen and (max-width:900px) {
    .about-container{
        width: 100%;
    }
}
.about-box{
    margin-left:100px ;
    width: 530px;
}
.about-box h6{
    color: #a3c962;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 7px;
    font-family: 'Playfair Display', serif;
}
.about-box h5{
    font-size: 27px;
    letter-spacing: 2px;
    padding-bottom: 16px;
    line-height: 32px;
    font-weight: 200;
    font-family: 'Playfair Display', serif;
}
.about-box p{
    color: #575654;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 2px;
}
.circle-box{
    display: flex;
    margin-top: 20px;
}

.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 15px;
}
.circle-box .value{
    width: 125px;
    height: 125px;
    border: 2px solid #ebebeb;
    text-align: center;
    position: relative;
    top:11px;
    left: 9px;
    font-size: 32px;
    border-radius: 50%;
    padding-top: 40px;
}
#circle1{
    border: 2px solid rgb(0, 132, 255) !important;
    color:rgb(0, 132, 255) ;
}
#circle2{
    border: 2px solid rgb(10, 207, 10);
    color: rgb(10, 207, 10);
}
#circle3{
    border: 2px solid rgb(241, 176, 54);
    color:rgb(241, 176, 54); ;
}
.caption h4{
    text-align: center;
    color: #000;
    margin-top: 40px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 200;
    font-family: 'Playfair Display', serif;
}
/* ------------services---------- */
#service{
    background:url('../images/s1.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 25px;
}
.service-container .title{
    display: flex;
    color: #fff;
    justify-content: center;
    padding: 60px;
}
.title .left p{
    width: 580px;
    text-align: right;
    padding-right: 30px;
    padding-top: 10px;
    font-size: 15px;
    color: #d8d8d8;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    line-height: 26px;
    margin-left: -80px;
}
.right h5{
    font-size: 20px;
    color: #a3c962;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 5px;
    font-family: 'Playfair Display ', serif !important;
}
.right h3{
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 2px;
    font-family: 'Playfair Display', serif;
}
.box2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    
}
.box2 .service-box{
    width: 350px;
    text-align: center;
    border: 1px solid black;
    background-color: #fff;
    margin: 10px;
    padding: 30px 50px;
}
.service-box i{
    font-size:40px ;
    padding-bottom: 30px;
}
.service-box h4{
    font-size: 24px;
    font-weight: 700;
    color: #a3c962;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    padding-bottom: 15px;
}
.service-box p{
    color: #4c4c4c;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
}
.service-box:hover{
    background-color:#d4d4d4;
    transition: all 1s;
    cursor: pointer;
}

.statis{
    background-color: #a3c962;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
.statis-box{
    width: 200px;
    margin: 30px 80px; 
    text-align: center;
    padding: 30px;
}
.statis-box i{
    color: #fff;
    font-size: 25px;
}
.statis-box h3{
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 18px;
    margin: 12px 0;
}
.statis-box h4{
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Playfair Display', serif;
}
/*----------- features-------- */
.feature-container .title{
    display: flex;
    color: #fff;
    justify-content: center;
    margin-right: 130px;
    padding: 60px;
}
.feature-container .right h3{
    color: #000;
    font-family: 'Playfair Display', serif;
}
.feature-container .title .left p{
    color: #5e5c5c;
    
}
.box3 .image-box img{
    width: auto;
    margin-bottom: 25px;
}
.box3{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.feature-box .plant-box{
    display: flex;
    justify-content: center;
    width: 650px;
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    padding: 8px 0;
    background-color: #f7f7f7;
    box-shadow: -2px 5px 35px -5px ;
    margin: 0 0 25px 80px;
} 
.plant-box i{
    font-size: 40px;
    padding: 35px 90px;
    text-align: center;
}
.plant-box .para{
    text-align: left;
}
.para h3{
    color: #a3c962;
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    padding: 14px 0px;
}
.para p{
    font-size: 14;
    padding-bottom: 8px;
    color: #4c4c4c;
    line-height: 25px;
    letter-spacing: 1px;
}
#climate{
    margin-left: 125px;
    width:600px ;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display', serif;
}
.plan-container{
    background: url('../images/b2.jpg');
    background-size: cover;
    height: 650px;
    background-attachment: fixed;
    margin: 50px 0 30px 0;
}
.header{
    display: flex;
    color: #fff;
    text-align: right;
    justify-content: flex-end;
    padding: 70px 130px;
}

.header .head-left h4{
    font-size: 20px;
    color: #a3c962;
    font-weight: 600;
}
.head-left h2{
    font-size: 40px;
    font-weight: 400;
    padding: 6px 0;
    letter-spacing: 2px;
}
.head-right{
    width: 570px;
    text-align: left;
    margin-left: 28px;
}
.head-right p{
    font-size: 16px;
    color: #d8d8d8;
    letter-spacing: 1px;
    padding: 10px 0;
    line-height: 28px;
}
.box4{
    display: flex;
    justify-content: center;
}
.price-box{
    width: 250px;
    height: 370px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 25px 0;
    margin: 0 16px;
   
}
.price-content h2{
    color: #a3c962;
}
.price-content h5{
    font-size: 18px;
    font-weight: 200;
    padding: 15px 0px;
}
.price-content span{
    font-size: 31px;
    color:#a3c962; 
    font-weight: 600;
}
.price-content ul{
    list-style: none;
    text-align: center;
}
.price-content ul li{
    color: #969696;
    font-size: 14px;
    padding-top: 12px;

}
.book-btn{
    padding: 9px 16px;
    background-color: #a3c962;
    font-size: 15.5px;
    letter-spacing: 2px;
    margin-top: 22px;
    border-radius: 18px;
    border: none;
}
.book-btn a{
    text-decoration: none;
    color: #fff;
}
.book-btn:hover{
   background-color: #000;
   cursor: pointer;
   transition: all 0.5s;
}

/*------------- client----------------- */
.client-container .title{
    display: flex;
    color: #fff;
    justify-content: center;
    padding: 60px;
    margin-bottom: 20px;
}
.client-container .right h3{
    color: #000;
}
.client-container .title .left p{
    color: #6b6a6a;
}
.box5{
    display: flex;
   justify-content: center;
}
.client1{
    margin: 0 22px;
}
.client1 .client-img img{
    border: 1px solid #dee2e6;
    padding: 4px;
    max-width: 100%;
}
.client1 h2{
    color: #a3c962;
    padding: 15px 0 10px 0;
    letter-spacing: 1px;
}
.client1 h6{
    font-size: 17px;
    font-weight: 500;
}
.client1 p{
    color:#6b6a6a;
    font-size: 15px;
    line-height: 28px;
    padding: 10px 0;
    letter-spacing: 1px;
}
.client1 .para-c{
    width: 350px;
    font-family: 'Open Sans', sans-serif;
}
/*---------------- save forest------------ */
.save{
    background-color: #a3c962;
    height: 320px;
    padding: 65px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 60px 0;
}
.icon{
    background-color: #fff;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 470px;
}
.icon i{
    font-size: 33px;
    padding-top: 19px;
}
.save-content  h2{
    font-size: 35px;
    color: #fff;
    padding-top: 44px;
    font-weight: 200;
    letter-spacing: 1px;
}
.save-content p{
    font-size: 15px;
    color: #4c4c4c;
    padding-top: 13px;
    letter-spacing: 1px;
}
.icon:hover{
    background-color: #000;
    color: #fff;
    transition: all 0.5s;
}

/* -------------volunteer--------------- */
.volunteer-container{
    margin-bottom: 30px;
}
.volunteer-container .title{
    display: flex;
    color: #fff;
    justify-content: center;
    padding: 40px;
}
.volunteer-container .right h3{
    color: #000;
}
.volunteer-container .title .left p{
    color: #6b6a6a;
}
.box6{
    display: flex;
    justify-content: center;
}
.volunteer-box{
    margin: 0 20px;
    text-align: center;
}
.volunteer-box h2{
    color: #a3c962;
    padding: 15px 0 10px 0;
    letter-spacing: 1px;
}
.volunteer-box h6{
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 18px;
}
.volunteer-icon a{
    display: inline-block;
    margin-right: 0.5em;
    font-size: 15px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 37px;
    background: #000;
    border-radius: 50px;
    color: #fff;
}
.volunteer-icon a:hover{
    color:rgb(133, 131, 131);
    transition: all 0.5s;
}
/* -------------blog----------------- */
.blog-container{
    background: url('../images/b1.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 750px;
    margin:50px 0 ;
}
.box7{
    display: flex;
    justify-content: center;
}
.blog-box{
    width: 350px;
    height: 470px;
    background-color: #fff;
    padding: 20px;
    margin: -18px 30px 0 0;
}
.blog-box img{
    width: 100%;
    transition: all  0.5s ease;
}
.blog-box .blog-img{
    overflow: hidden;
    cursor: pointer;
}
.blog-box img:hover{
    transform: scale(1.5);
}
.blog-box h6{
    font-size: 17px;
    font-weight: 200;
}
.blog-box h2 a{
    text-decoration: none;
    color: #a3c962;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}
.blog-box h2{
    padding: 8px 0 17px 0;
}
.blog-box p{
    color: #5e5c5c;
    line-height: 26px;
    padding-bottom: 22px;
}
.blog-box span{
    color: #131212;
}
.date .lt{
    float: left;
}
.date .rt{
    float: right;
}
/* ------------contact--------- */
.contact-container{
    margin-top: -10px;
    margin-bottom: 70px;
}
.contact-container .title{
    display: flex;
    color: #fff;
    justify-content: center;
    padding: 40px;
}
.contact-container .right h3{
    color: #000;
}
.contact-container .title .left p{
    color: #6b6a6a;
}
.box8{
     display: flex;
     justify-content: center;
     margin-bottom: 30px;
}
.form-box input, textarea{
    width: 500px;
    border:none ;
    padding: 13px 10px;
    background-color: #efefef;
    box-shadow: 0 1px 1px 0px;
    font-size: 15px;
}
textarea{
    resize: none;
    height: 150px;
}
.form-box button{
    border: none;
    outline: none;
    background-color: #a3c962;
    color: #fff;
    padding: 8px;
    width: 500px;
    text-align: center;
    border-radius: 20px;
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
   
}
.form-box input:focus, textarea:focus{
    /* border: 3.5px solid rgb(170, 210, 224); */
    outline: none;
    box-shadow: 0px 0px 0 3.3px rgb(181, 220, 235);
    transition: all 0.2s ease;
    background-color: #fff;
}
.form-box button:hover{
    background-color: #000;
}

.info-box{
    display: flex;
}
.contact-box .info-box{
    margin: 10px 20px ;

}
.info-box i{
    font-size: 40px;
    line-height: 98px;
    padding: 0 52px;
}
.info h2{
    color: #a3c962;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 0;
}
.info p{
    color: #5e5c5c;
    font-size: 15px;
    padding-top: 10px;
    font-family: 'Open Sana', sans-serif;
}

/* -------------map--------------- */
.map-container iframe{
    width: 100%;
    height: 22em;
}
.map-container{
    border: 1px solid #dadada;
    padding: 5px;
}

footer{
    background-color: #a3c962;
    text-align: center;
    padding: 30px;
}
footer p{
    color: #fff;
    padding-bottom: 15px;
}
footer span{
    color: #000;
}
.footer-icon a{
    width: 35px;
    height: 35px;
    background-color: #000;
    display: inline-block;
    color: #fff;
    margin: 8px;
    border-radius: 50px;
    font-size: 15px;
    line-height: 35px;

}
.footer-icon a:hover{
    color: rgb(121, 119, 119);
    transition: all 0.5s;
}
.arrow{
    margin-top:10px;
}
.arrow img{
    position: relative;
}
.arr{
    visibility: hidden;
    position: absolute;
    color: #fff;
    width: 100px;
    background-color: rgb(63, 62, 62);
    padding: 3px 0;
    text-align: center;
    border-radius: 20px;
}
.arrow:hover .arr{
    visibility: visible;
}
